<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="input-div" id="input-word">
      <input type="text" id="myword" placeholder="Type word to be searched" value=""/>
      <button>Search</button>
    </div>
    <div class="area-div" id="search-paragraph">
        In the bustling heart of the city, where the neon lights flicker like
        distant stars in the night sky, there lies a small cafe tucked away in
        an alley. Its windows are adorned with lace curtains, gently swaying
        with the breeze, while the aroma of freshly brewed coffee wafts out onto
        the cobblestone street. Inside, the soft murmur of conversation mingles
        with the clinking of cups and saucers, creating a cozy atmosphere that
        welcomes all who enter. Amidst the hustle and bustle of urban life, this
        quaint sanctuary offers a moment of respite, where time seems to slow
        down and worries melt away like sugar in a steaming cup of espresso.
    </div>

    <script src="/js/app.js"></script>
  </body>
</html>